<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="iSOFT.ANZ.PatientManagerService.Data"
      type="iSOFT.ANZ.PatientManagerService.Data.Bases.NetTiersServiceSection, iSOFT.ANZ.PatientManagerService.Data" allowDefinition="MachineToApplication"
      restartOnExternalChanges="true"/>
    <section name="exceptionHandling"
      type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="cachingConfiguration"
      type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <!-- Exception Handling Configuration - Should not need to alter this configuration block. -->
  <exceptionHandling>
    <exceptionPolicies>
      <add name="NoneExceptionPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow"
            name="Exception">
            <exceptionHandlers>
              <add logCategory="Exceptions" eventId="100" severity="Error" title="iSOFT.ANZ.PatientManagerData Exception Handling"
                formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.XmlExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                priority="0"
                type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Logging Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <!-- Cache Manager Configuration - Should not need to alter this configuration block. -->
  <cachingConfiguration defaultCacheManager="iSOFT.ANZ.PatientManagerService.Entities.EntityCache">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="300" maximumElementsInCacheBeforeScavenging="100000" numberToRemoveWhenScavenging="1000"
        backingStoreName="Null Storage" name="iSOFT.ANZ.PatientManagerService.Entities.EntityCache"
        type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName=""
        type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Null Storage"/>
    </backingStores>
  </cachingConfiguration>
  <!-- Windows Communication Foundation WCF Logging and Tracing.  For additional information on WCF Tracing, refer to https://msdn.microsoft.com/en-us/library/ms733025(v=vs.100).aspx -->
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="c:\source control\bedmanager\isoft.anz.patientmanagerservice\ipm_api_act_host\app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
    <switches>
      <add name="TraceLevel" value="0"/>
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add initializeData="PatientManagerTrace.log" type="System.Diagnostics.TextWriterTraceListener" name="traceListener" traceOutputOptions="DateTime">
          <filter type=""/>
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <!-- Patient Manager API Functionality specific Application settings.  Refer to the Configuration Guide or API Functional Specification for details. -->
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Instance" value="#Default Instance"/>
    <add key="PerformanceCounters" value="on"/>
    <add key="log4net.Internal.Debug" value="false"/>
    <add key="ApplicationKey" value="5277-699E-0AA2-4d3f"/>
    <add key="SecurityGroup" value="SVCUSER"/>
    <add key="MultiCampus" value="N"/>
    <add key="AreaHOTYPCode" value="AREA"/>
    <add key="hTrakAudit" value="OFF"/>
    <add key="DefaultCacheExpiryInSeconds" value="60"/>
  </appSettings>
  <!--For more information on Oracle Entity Framework Configuration, refer to https://docs.oracle.com/cd/E56485_01/win.121/e55744/InstallConfig.htm#ODPNT8153  -->
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        -->
  <!-- The Oracle Entity Framework Connection string to the iPM Oracle Database.  -->
  <!--
        <dataSource alias="OracleDB"
          descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=VMAPTM-DBS04.ibahealth.local)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ghdev82.csc))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
  <!-- Database Connections, Username and Passwords -->
  <connectionStrings>
    <!-- name="iSOFT.ANZ.PatientManagerService.Data.ConnectionString" is the NetTiers Connection String.  It must be configured to connect to the iPM Oracle or Microsoft SQL database. -->
    <!--<add name="iSOFT.ANZ.PatientManagerService.Data.ConnectionString"
         connectionString="data source=VMAPTM-DBS04.ibahealth.local:1521;Initial Catalog=ghdev82.csc;User ID=pims;Password=pims32"/>-->
    <!--<add name="iSOFT.ANZ.PatientManagerService.Data.ConnectionString" connectionString="data source=ghdev_v82;user id=pims;password=pims32"/>-->
    <add name="iSOFT.ANZ.PatientManagerService.Data.ConnectionString"
      connectionString="Data Source=vmaptm-dbs01\SQL20087,3361;Initial Catalog=our_matersb_v10;User ID=pims;Password=pims32"/>
    <!--<add name="iSOFT.ANZ.PatientManagerService.Data.ConnectionString"
         connectionString="data source=DBSERVERNAME\INSTANCE;Initial Catalog=DBNAME;User ID=DBUSERNAME;Password=DBUSERPASSWORD"/>-->
    <!-- name="DBEntities" is the .Net Entity Framework Connection String.  It is configured to connect to the iPM Oracle Database through the "OracleDB" DataSource configured in the <oracle.manageddataaccess.client> section. -->
    <!-- The Oracle Username and password must be configured on this Connection String-->
    <!--<add name="DBEntities"
      connectionString="metadata=res://*/EFModel.csdl|res://*/EFModel.ssdl|res://*/EFModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=OracleDB;PASSWORD=pims32;PERSIST SECURITY INFO=True;USER ID=PIMS&quot;"
      providerName="System.Data.EntityClient"/>-->
    <!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle"/>-->
  </connectionStrings>
  <!-- Nettiers Data Layer Providers. -->
  <!-- For more information on NetTiers Configuration, refer to https://github.com/netTiers/netTiers/wiki/Getting-Started -->
  <!-- Change the defaultProvider to the Appropriate provider for your database. OracleNetTiersProvider or SqlNetTiersProvider -->
  <iSOFT.ANZ.PatientManagerService.Data defaultProvider="SqlNetTiersProvider">
    <providers>
      <!--
    *** SqlClient Provider ***
    	connectionStringName: sqlclient connection string to the db
    	useStoredProcedure: if trueindicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
    -->
      <add name="SqlNetTiersProvider" type="iSOFT.ANZ.PatientManagerService.Data.SqlClient.SqlNetTiersProvider, iSOFT.ANZ.PatientManagerService.Data.SqlClient"
        connectionStringName="iSOFT.ANZ.PatientManagerService.Data.ConnectionString" useStoredProcedure="true" providerInvariantName="System.Data.SqlClient"
        entityFactoryType="iSOFT.ANZ.PatientManagerService.Entities.EntityFactory" useEntityFactory="false" enableEntityTracking="false"
        enableMethodAuthorization="false" defaultCommandTimeout="30"/>
      <!--
		*** OracleClient Provider ***
			this is the Oracle DbProviderFactory .netTiers provider
			connectionStringName: the connection string to the db
			useStoredProcedure: Always uses stored procedures.
		-->
      <add name="OracleNetTiersProvider"
        type="iSOFT.ANZ.PatientManagerService.Data.OracleClient.OracleNetTiersProvider, iSOFT.ANZ.PatientManagerService.Data.OracleClient"
        connectionStringName="iSOFT.ANZ.PatientManagerService.Data.ConnectionString" useStoredProcedure="true" providerInvariantName="System.Data.OracleClient"
        entityFactoryType="iSOFT.ANZ.PatientManagerService.Entities.EntityFactory" enableEntityTracking="false" useEntityFactory="false"
        enableMethodAuthorization="false"/>
    </providers>
  </iSOFT.ANZ.PatientManagerService.Data>
  <!-- For more information on Windows Communication Foundation WCF Binding and Endpont configuration, refer to https://msdn.microsoft.com/en-us/library/ms733932(v=vs.110).aspx -->
  <system.serviceModel>
    <diagnostics performanceCounters="All">
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false"/>
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="PatientManagerBindingConfiguration" sendTimeout="01:02:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Buffered"/>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="PatientManagerEndPointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="iSOFT.ANZ.PatientManagerService.Service1Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="iSOFT.ANZ.PatientManagerService.Service1Behavior" name="iPM_WEB_API_HOST.iPM_WEB_API_LIB.iPM_WEB_API">
        <clear/>
        <endpoint address="" behaviorConfiguration="PatientManagerEndPointBehavior" binding="basicHttpBinding"
          bindingConfiguration="PatientManagerBindingConfiguration" name="ReferralServiceEndPoint"
          contract="iSOFT.ANZ.PatientManagerServiceLibrary.IReferralService"/>
        <endpoint address="" behaviorConfiguration="PatientManagerEndPointBehavior" binding="basicHttpBinding"
          bindingConfiguration="PatientManagerBindingConfiguration" name="OutpatientAppointmentEndPoint"
          contract="iSOFT.ANZ.PatientManagerServiceLibrary.IOutpatientAppointmentService"/>
        <endpoint address="" behaviorConfiguration="PatientManagerEndPointBehavior" binding="basicHttpBinding"
          bindingConfiguration="PatientManagerBindingConfiguration" name="CommunityContactServiceEndPoint"
          contract="iSOFT.ANZ.PatientManagerServiceLibrary.ICommunityContactService"/>
        <endpoint address="" behaviorConfiguration="PatientManagerEndPointBehavior" binding="basicHttpBinding"
          bindingConfiguration="PatientManagerBindingConfiguration" name="TheatreBookingServiceEndPoint"
          contract="iSOFT.ANZ.PatientManagerServiceLibrary.ITheatreBookingService"/>
        <!-- 
        <endpoint address="" behaviorConfiguration="PatientManagerEndPointBehavior"
          binding="basicHttpBinding" bindingConfiguration="PatientManagerBindingConfiguration"
          name="DischargeSummaryEndPoint" contract="iSOFT.ANZ.PatientManagerServiceLibrary.IDischargeSummary"/>
      -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" listenUriMode="Explicit"/>
        <host>
          <baseAddresses>
            <!-- baseAddress is used to configure the Services listener Port and URL -->
            <add baseAddress="http://localhost:2124/iPM_WEB_API"/>
          </baseAddresses>
          <timeouts closeTimeout="00:01:10" openTimeout="01:01:00"/>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <!-- Oracle Entity Framework section should not need to be changed -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Oracle.ManagedDataAccess.Client"
        type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>
  <!-- Oracle Entity Framework section should not need to be changed. -->
  <!-- Oracle Entity Framework section should not need to be changed. -->
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>